ARK_API_KEY=
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_IMAGE_MODEL=doubao-seedream-5-0-lite-260128
ARK_IMAGE_SIZE=2K
ARK_IMAGE_RESPONSE_FORMAT=url
ARK_IMAGE_OUTPUT_FORMAT=jpeg
ARK_TEXT_MODEL=
AIGCFB_API_PORT=8787
